* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.map-container {
  text-align: center;
  height: 80vh;
  align-items: center;
  margin: 20px;

  .leaflet-container {
    // width: 100% !important;
    height: 100%;
  }
}
